import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

.page
  width 100%
  background #797979
.container
  max-width 1000px
  min-width 320px
  margin auto
  background url(/images/main-bg.png) repeat
  padding: 3.9rem 6.9rem 4.6rem
h2
  font-family 'PT Sans', sans-serif
  font-size 1.5rem
  font-weight 700
  color #2f1b15
