mixin contact-form()
	+b.SECTION.contact-form&attributes(attributes)
		block
		+e.line
			+e.SPAN.common-label Полное ФИО
			+e.common-descr
				+e.SPAN Гапонов Сергей Сергеевич
		+e.line
			+e.SPAN.common-label Год рождения
			+e.common-descr
				+e.SPAN 1995
		+e.line
			+e.SPAN.common-label Место жительства
			+e.common-descr
				+e.SPAN г. Волгоград, Россия
		+e.line
			+e.SPAN.common-label Скайп
			+e.common-descr
				+e.SPAN marsch714
		+e.line
			+e.SPAN.common-label Почта
			+e.common-descr
				+e.SPAN sergejgaponov713@gmail.com	
