.contact-form
	display block
	margin-top 3.6rem
	&__line
		display flex
		margin-bottom .9rem
		align-items center
		&:last-of-type
			margin-bottom 0
	&__common-label
		font-family 'PT Sans', sans-serif
		font-size 1.4rem
		font-weight 700
		color #2f1b15
		margin-top .4rem
	&__common-descr
		color #231f20
		position relative
		border-bottom 2px
		flex-grow: 1
		margin-left 1rem
		&::before
			content ""
			position absolute
			left 0
			bottom 0
			background url(/images/underline-2.png) no-repeat
			background-size 100% 4rem
			background-position left
			height 1rem
			width 100%
		span
			display inline-block
			font-size 1.8rem
			font-weight 300
			padding-bottom 1.2rem
			text-indent 1rem
			font-family 'Courier New', serif
