.js-skill
	display block
	margin-top 3.5rem
	.range-scale
		display flex
		width 99%
		background-image url(/images/scale.png)
		background-repeat no-repeat
		background-position center
		background-size 100% 4rem
		position relative
		height 5.3rem
 	.range-labels
		display flex
		justify-content space-between
		&__elem
			font-family 'PT Sans', sans-serif
			font-size .8rem
			font-weight 700
			line-height 2.3rem
			color #2f1b15
			position relative
			cursor pointer
			top -24px
			&:nth-child(3)
				line-height 1.2rem
				top -15px
				left -19px
				&::before
					top -27px
					left -2px
				&::after
					top -47px
			&::before
				content ''
				position absolute
				background-image url(/images/short-mark.png)
				background-repeat no-repeat
				background-position top center
				background-size contain
				top -17px
				width 16px
				height 15px
		&__elem_first
			&::before
				content ''
				position absolute
				background-image url(/images/long-mark_left.png)
				background-repeat no-repeat
				background-position top center
				background-size contain
				top -20px
				left 4px
				width 16px
				height 26px
		&__elem_last
			right 8px
			top -17px
			&::before
				content ''
				position absolute
				background-image url(/images/long-mark_right.png)
				background-repeat no-repeat
				background-position top center
				background-size contain
				top -26px
				right -3px
				width 16px
				height 26px
		&__elem_active
			font-family 'PT Sans', sans-serif
			font-size .8rem
			font-weight 700
			line-height 2.3rem
			color #2f1b15
			position relative
			cursor pointer
			top -24px
			&:last-child
				top -17px
				right 8px
				&::after
					content ''
					position absolute
					background-image url(/images/active-mark.png)
					background-repeat no-repeat
					background-position top center
					background-size cover
					top -46px
					left 92%
					width 16px
					height 15px
				&::before
					content ''
					position absolute
					background-image url(/images/long-mark_right.png)
					background-repeat no-repeat
					background-position top center
					background-size contain
					top -25px
					right -3px
					width 16px
					height 26px
			&:first-child
				&::after
					content ''
					position absolute
					background-image url(/images/active-mark.png)
					background-repeat no-repeat
					background-position top center
					background-size cover
					top -40px
					left -1px
					width 16px
					height 15px
			&::after
				content ''
				position absolute
				background-image url(/images/active-mark.png)
				background-repeat no-repeat
				background-position top center
				background-size cover
				top -39px
				left -2px
				width 16px
				height 15px
