.js-skill
	display block
	margin-top 3.5rem
	.range-scale
		display flex
		width 100%
		background-image url(/images/scale.png)
		background-repeat no-repeat
		background-position bottom
		background-size 105% 4rem
		position relative
		height 5.3rem
 	.range-labels
		display flex
		justify-content space-between
		&__elem
			font-family 'PT Sans', sans-serif
			font-size .8rem
			font-weight 700
			line-height 2.3rem
			color #2f1b15
			position relative
			cursor pointer
			top -10px
			&:nth-child(3)
				line-height 1.2rem
				top 0
				&::before
					top -32px
				&::after
					top -57px
			&::before
				content ''
				position absolute
				background-image url(/images/short-mark.png)
				background-repeat no-repeat
				background-position top center
				background-size cover
				top -22px
				width 16px
				height 15px
		&__elem_first
			&::before
				content ''
				position absolute
				background-image url(/images/long-mark_left.png)
				background-repeat no-repeat
				background-position top center
				background-size cover
				top -24px
				width 16px
				height 26px
		&__elem_last
			&::before
				content ''
				position absolute
				background-image url(/images/long-mark_right.png)
				background-repeat no-repeat
				background-position top center
				background-size cover
				top -23px
				right 0
				width 16px
				height 26px
			/*&::before
				content ''
				width 0
				height 0*/
		&__elem_active
			font-family 'PT Sans', sans-serif
			font-size .8rem
			font-weight 700
			line-height 2.3rem
			color #2f1b15
			position relative
			cursor pointer
			top -10px
			&:last-child
				&::after
					content ''
					position absolute
					background-image url(/images/active-mark.png)
					background-repeat no-repeat
					background-position top center
					background-size cover
					top -45px
					left 92%
					width 16px
					height 15px
			&:first-child
				&::after
					content ''
					position absolute
					background-image url(/images/active-mark.png)
					background-repeat no-repeat
					background-position top center
					background-size cover
					top -45px
					left -5px
					width 16px
					height 15px
			&::after
				content ''
				position absolute
				background-image url(/images/active-mark.png)
				background-repeat no-repeat
				background-position top center
				background-size cover
				top -45px
				left -2px
				width 16px
				height 15px
