mixin plans()
	+b.SECTION.plans&attributes(attributes)
		block
		+e.H2.caption Какие у вас планы на будушее?
		+e.P.descr Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
		+b.plans-block
			+e.SPAN.elem Верстать
			+e.SPAN.elem._active Прокачиваться в JS
			+e.SPAN.elem Менеджерство
			+e.SPAN.elem Другое
