mixin js-skill()
	+b.SECTION.js-skill&attributes(attributes)
		block
		+e.H2.caption Уровень владения JavaScript
		+b.range-scale
		+b.UL.range-labels
			+e.LI.elem._first Не владею
			+e.LI.elem._active Использую готовые решения
			+e.LI.elem Использую готовые решения <br /> и умею их переделывать
			+e.LI.elem._last Пишу сложный JS с нуля
