.about-form
	display block
	margin-top 3.5rem
	&__caption
		line-height 3.1rem
	&__descr
		page-text()
	.wrapper
		display flex
		.about-list
			margin-top 1.6rem
			display flex
			flex-direction column
			flex-wrap wrap
			flex 1
			&__item
				font-family 'PT Sans', sans-serif
				font-weight 700
				font-size 1.3rem
				color #000
				line-height 2.4rem
				position relative
				padding-left 1.7rem
				&::before
					content ''
					position absolute
					left 0
					top 20%
					width 1.4rem
					height 1.3rem
					background-image url(/images/check-box.png)
					background-repeat no-repeat
					background-position center
					background-size cover
			&__item_checked
				&::before
					content ''
					position absolute
					left 0
					top -15%
					width 1.7rem
					height 2rem
					background-image url(/images/checked-box.png)
					background-repeat no-repeat
					background-position center
					background-size cover
