.footer
	display flex
	margin-top 5.13rem
.date
	background-image url('/images/uline-date.png')
	background-position bottom center
	background-repeat no-repeat
	background-size contain
	margin-left 1.13rem
	margin-top -1.3rem
	&__item
		display inline-block
		font-family 'Courier New', sans-serif
		font-size 1.9rem
		line-height 2.3rem
		color #231f20
