.about-descr
	display block
	margin-top 1.1rem
	&__descr
		page-text()
		margin-top .8rem
	&__text-about
		width 100%
		background transparent
		background-image url('/images/uline-about-text.png')
		background-repeat repeat-y
		background-size 100% 3.75rem
		background-position 100% 1.5rem
		border 0
		font-family 'Courier New', serif
		color #231f20
		font-size 1.9rem
		line-height 3.75rem
		overflow hidden
		min-height 14.4rem
		margin-top 1.4rem
